name: Swift CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build SDK
        run: xcodebuild -scheme NKWalk -destination 'platform=iOS Simulator,name=iPhone 15 Pro' clean build

      - name: Run Tests
        run: xcodebuild test -scheme NKWalk -destination 'platform=iOS Simulator,name=iPhone 15 Pro'
